# **Intorduction to Python Programming**

In [1]:
# Variable Assignment

number = 100
number1 = 100.20
str = 'Hello World'

num = '1234'

num1, num2, num3 = 10,20,30

In [2]:
NUMBER = 2000

In [3]:
NUMBER

2000

In [4]:
number

100

In [5]:
print(number)

100

In [9]:
# checking datatype

print(type(number))
print(type(number1))
print(type(str))
print(type(num))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [10]:
num1,num2,num3,_ = 100,200,300,400

In [12]:
nu1,nu2,nu3 = 100,200,_

In [13]:
n1,n2,n3,# = 100,200,300,400

NameError: name 'n1' is not defined

In [14]:
print('the variable name number is' ,number)

the variable name number is 100

In [17]:
number1 = 1000
number2 = 2000

number3 = number1 + number2

print('the addition of Number1 and Number2 is' ,number3)

the addition of Number1 and Number2 is 3000

In [19]:
number1 = 1000
number2 = 2000

number3 = number1 - number2

print('the substraction of Number1 and Number2 is' ,number3)

the substraction of Number1 and Number2 is -1000

In [20]:
number1 = 1000
number2 = 2000

number3 = number1 * number2

print('the mutiplcation of Number1 and Number2 is' ,number3)

the mutiplcation of Number1 and Number2 is 2000000

In [21]:
number1 = 1000
number2 = 2000

number3 = number2 / number1

print('the division of Number1 and Number2 is' ,number3)

the division of Number1 and Number2 is 2.0

In [23]:
# Floor Division
number1 = 1000
number2 = 2000

number3 = number2 // number1

print('the division of Number1 and Number2 is' ,number3)

the division of Number1 and Number2 is 2

In [24]:
num = 100
num1 = '1234'
print('Addition of num and num1:', (num +num1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [26]:
num = 2
num1 = '1234'
print('Addition of num and num1:', (num * num1))

Addition of num and num1: 12341234