# **Intorduction to Python Programming**

In [1]:
# Variable Assignment

number = 100
number1 = 100.20
str = 'Hello World'

num = '1234'

num1, num2, num3 = 10,20,30

In [2]:
NUMBER = 2000

In [3]:
NUMBER

2000

In [4]:
number

100

In [5]:
print(number)

100

In [9]:
# checking datatype

print(type(number))
print(type(number1))
print(type(str))
print(type(num))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [10]:
num1,num2,num3,_ = 100,200,300,400

In [12]:
nu1,nu2,nu3 = 100,200,_

In [13]:
n1,n2,n3,# = 100,200,300,400

NameError: name 'n1' is not defined

In [14]:
print('the variable name number is' ,number)

the variable name number is 100

In [17]:
number1 = 1000
number2 = 2000

number3 = number1 + number2

print('the addition of Number1 and Number2 is' ,number3)

the addition of Number1 and Number2 is 3000

In [19]:
number1 = 1000
number2 = 2000

number3 = number1 - number2

print('the substraction of Number1 and Number2 is' ,number3)

the substraction of Number1 and Number2 is -1000

In [20]:
number1 = 1000
number2 = 2000

number3 = number1 * number2

print('the mutiplcation of Number1 and Number2 is' ,number3)

the mutiplcation of Number1 and Number2 is 2000000

In [21]:
number1 = 1000
number2 = 2000

number3 = number2 / number1

print('the division of Number1 and Number2 is' ,number3)

the division of Number1 and Number2 is 2.0

In [23]:
# Floor Division
number1 = 1000
number2 = 2000

number3 = number2 // number1

print('the division of Number1 and Number2 is' ,number3)

the division of Number1 and Number2 is 2

In [24]:
num = 100
num1 = '1234'
print('Addition of num and num1:', (num +num1))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [1]:
num = 2
num1 = '1234'
print('Addition of num and num1:', (num * num1))

Addition of num and num1: 12341234

In [2]:
print('Hello World',num)

Hello World 2

In [3]:
name = input('Enter your name :')

In [4]:
name = input('Enter your name :')
print(name)

akhilesh

In [10]:
number = input('Enter the number :')
#If I am using Input as a function, the output will be the string

In [6]:
print(type(number))

<class 'str'>

In [ ]:
#Type Casting
num = int(input('Enter the number: '))
print(num)
print(type(num))    # Type Casting from string to integer

100
<class 'int'>

In [17]:
# Addition of two numbers

Num1 = int(input('Enter the first number : ')) 

Num2 = int(input('Enter the first number : '))

Num3 = Num1 + Num2

print('The Sum of two Number is', Num3)

ValueError: invalid literal for int() with base 10: '100.00'

In [14]:
Num1 = float(input('Enter the first number : ')) 

Num2 = float(input('Enter the first number : '))

Num3 = Num1 + Num2

print('The Sum of two Number is', Num3)

The Sum of two Number is 300.0

In [1]:
num1 = float(input('Enter the first number: '))

num2 = float(input('Enter the first number: '))

num3 = num1 + num2

print('The Addition of two number is', num3)

The Addition of two number is 300.0

In [2]:
num = 100
num1 = 200

num2 = num + num1

print(num2)

300

In [6]:
# Calcumate Area of Circle

'''
Logic :
radius [r] ---> User

Area = Pi*r*r
Circumference = 2*Pi*r

print('The Area of circle is', area)

'''
Pi = 3.1421
radius = float(input('enter the radius of the circle :'))
Area = Pi*radius*radius
Circumference = 2*Pi*radius
print('The circumference of circle is', Circumference)
print('The Area of Circle is', Area)

The circumference of circle is 125.684
The Area of Circle is 1256.84

In [7]:
# F string method
print(f'The circumference of circle is {Circumference} mm')
print(f'The Area of circle having radius {radius} mm is {Area}  mm^2')

The circumference of circle is 125.684 mm
The Area of circle having radius 20.0 mm is 1256.84  mm^2

In [8]:
str = 'Hello'
str1 = 'World'

print(str + str1)

HelloWorld

In [9]:
print(str +' ' + str1)     #(to have a space between 2 string keep the quotes in between + sign)

Hello World

In [10]:
# Strings Indexing
St = 'Hello Welcome to World of Python Programming'

# Sring Slicing
print(St[6])

W

In [11]:
print(St[-10])

r

In [12]:
print(St[2:9])     #(2 means starting with the 2nd position and ending with the 9th position )

llo Wel

In [13]:
print(St[:-1])

Hello Welcome to World of Python Programmin

In [14]:
print(St[::2])       #(starting with 1st position and end at the last position but jumping 2 steps)

HloWloet ol fPto rgamn

In [15]:
print(St[4:-4:2])

oWloet ol fPto rga

In [16]:
print(St[::-1])      #(steps is reversed)

gnimmargorP nohtyP fo dlroW ot emocleW olleH

In [17]:
print(St[4:-4:-1])

In [18]:
# List Definition
lst = [100,200,300,400]

# List Slicing 
print(lst[2])

300

In [19]:
print(lst[-2])

300

In [20]:
print(lst[:-2])

[100, 200]

In [22]:
lst1 = [100,200,300,400,[500,600,700,800,['Hi','Python','How']]]

print(lst[:2])
print(lst1[4][2])

[100, 200]
700

In [23]:
print(lst1[4][4][1])

Python

In [24]:
lst2 = [100,[200,300,[10,20,400,500,'Hii',[500],200],400,456],78]
print(lst2[1][2][4])

Hii

In [25]:
print(lst2[1][2][5][0])

500

In [26]:
print(lst2[-2][-2])

400

In [4]:
lst = []
lst.append('Hello')
lst.insert(1,'World')
lst.pop()
print(lst)

['Hello']

In [2]:
str  = 'Hello '
print(str.upper())

HELLO

In [7]:
lst = [10,20,30,40,50]
lst.append(60)
lst.insert(2,400)
lst.remove(30)
print(lst)

[10, 20, 400, 40, 50, 60]

In [ ]:
lst = [100,200,100,300,400,500,500]
lst.remove(100)
print(lst)    ---->#(1st occured number is removed)

[200, 100, 300, 400, 500, 500]

In [9]:
lst = [100,200,100,300,400,500,500]
lst.pop(2)
print(lst)

[100, 200, 300, 400, 500, 500]

In [12]:
lst = [1,2,3,4,5,6,7]
for i in lst:
    print(i)

1
2
3
4
5
6
7

In [13]:
lst = [1,2,3,4,5,6,7]
for i in lst:
    print(i, end = " ")

1 2 3 4 5 6 7

In [ ]:
lst = [1,2,3,4,5,6,7]
print(lst[: :-1])     ------> #(This Command reverse the given data)

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
lst = [10,20,30,40,50]

lst.reverse()        ----> #(another way to reverse the data)

print(lst)

[50, 40, 30, 20, 10]

In [4]:
lst = [100,400,500,200,600]

lst.sort()

print(lst)

[100, 200, 400, 500, 600]

In [ ]:
lst = [10,20,[30,40,[50,60,[70,[80,[[40]]]]],70],80]    ----> #(eg. of LIST IN LIST)
print(lst[2][2][2][1][1][0])

[40]

In [ ]:
lst = [10,20,(100,200),[300,400,900]]    ------> #(eg. of TUPLE IN LIST)
lst[2][1]

200

In [ ]:
tup = (100,200,300,400,[600,700])   ---> #(Tuple can have list in it BUT it is not MUTABLE)
print(type(tup))                         #(tuple cannot be reversed because it is immuatble)

<class 'tuple'>

In [15]:
# Tuple

tup = (10,20,30)

a = {10,20,30}

print(type(a))

print(type(tup))

<class 'set'>
<class 'tuple'>

In [17]:
tup.count(10)     ---># (counts number of times 10 occured)

SyntaxError: invalid syntax (1696662870.py, line 1)

In [ ]:
# Dictionary

dict = {'A': 10,'B':20,'C':30}     -->#(A is the key for value 10, B is the key for value 20 and so on)

dict.keys()

dict_keys(['A', 'B', 'C'])

In [17]:
dict = {'A': 10,'B':20,'C':30} 
dict.values()

dict_values([10, 20, 30])

In [19]:
dict = {'A': 10,'B':20,'C':30} 
dict.update({'D':40})

In [20]:
dict

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [21]:
dict.update({'D':80})

In [22]:
dict

{'A': 10, 'B': 20, 'C': 30, 'D': 80}

In [ ]:
dict = {'['India']':}   ----> #(key cannot accept the list but values can eg-['India'])

In [ ]:
dict = {'()'India')':} ----> #(key cannot accept the list but values can eg-['India'])

In [ ]:
dict = {'India':[100,200,300],
        'USA':[400,500,600],
        'UK':['Hii','World','Python']}   --># (values can accept list/tuple)

In [ ]:
dict = {'India':[100,200,300],
        'USA':[400,500,600],
        'UK':['Hii','World','Python']}    #(Dictionary totally depdnd on the KEY and cannot be changed therefore Dictionary is immutable)
dict['India'][2]

300

In [25]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in range(0,10):
    print(i)
    if i ==5:
        break

0
1
2
3
4
5

In [27]:
for i in range(0,10):
    print(i)
    if i ==5:
        pass

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,10):
 if i%2 == 0:     #(here divide by sign[/] is not used because it retrurs quotient value)
    print(i)      #(%returns remainder value)

0
2
4
6
8

In [30]:
for i in range(0,10):
 if i%2 == 1:
    print(i)

1
3
5
7
9

In [31]:
for i in range(0,10):
 if i%2 != 0:
    print(i)

1
3
5
7
9